* {
  border-radius: 3px;
}

body {
  background-color: #f0f0f0;
  font-family: monospace;
}

.content{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  /*border: solid 2px #000;*/
  cursor: pointer;
  padding: 0.5em;
  background-color: #b1b1b1;
  color: #f0f0f0;
  margin: 0.25em 0em;
  display: inline-block;
}

input[type="checkbox"]+label::after {
  content: "\00a0(off)";
}

input[type="checkbox"]:checked+label {
  background-color: #6d6d6d;
  /*color: #383838;*/
}

input[type="checkbox"]:checked+label::after {
  content: "\00a0\00a0(on)";
}

.inout textarea {
  width: 100%;
  height: 300px;
  border: solid 1px #a9a9a9;
  resize: vertical;
  padding: 0.5em;
  display: block;
  box-sizing: border-box;
  font-family: monospace;
  overflow: auto;
}

footer {
  text-align: center;
}

footer a {
  color: initial;
}

.only-wide{
  display: none;
}
@media only screen and (min-device-width: 500px) and (min-width: 500px){
  .only-wide{
    display: initial;
  }
}